

.secciones{
	background-color: gray;
    vertical-align: center;
    display: flex;
    vertical-align: center;
}
#boton{
	float: right;
}
.secciones ol {
	list-style: none;
	display: inline;
	vertical-align: bottom;
	margin-top: 10px;
	height: 7%;
}

.secciones ol li{
	padding-left: 2em;
	font-family: Helvetica;
	list-style: none;
	display: inline;
	color:white;
	align-content:center;
	padding-top: 25em;
}

.secciones ol li:hover{
	background-color: blue;
}

button img{
	max-height: 3em;
	max-width: 5em;
}
body{
	margin:0;
	text-align: center;
}
body a{
	text-decoration: none;
	color: white;
}

img{
	width:60%;
}

#logo{
	height: 60%;
}