<<<<<<< HEAD


.secciones ol {
	list-style: none;
	display: inline;
}

.secciones ol li{
	font-family: Helvetica;
	list-style: none;
	display: inline;
}

.secciones ol li:hover{
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: black;
	border-left-color: black;
}
=======


.secciones ol {
	list-style: none;
	display: inline;
}

.secciones ol li{
	list-style: none;
	display: inline;
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: black;
	border-left-color: black;
}
>>>>>>> 7f7c320e32ef58be84eb02e384e02a2afba1164f
