

.secciones ol {
	list-style: none;
	display: inline;
}

.secciones ol li{
	list-style: none;
	display: inline;
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: black;
	border-left-color: black;
}