

.secciones{
	
}
.secciones ol {
	list-style: none;
	display: inline;
}

.secciones ol li{
	font-family: Helvetica;
	list-style: none;
	display: inline;
}

.secciones ol li:hover{
	border-left-style: solid;
	border-right-style: solid;
	border-right-color: black;
	border-left-color: black;
}
